

.inq_container {

	background-image: url("../../images/back1.jpg");
	align-items: center;
	justify-content: center;
	
}


.slidebar {

	background-image: url("../../images/back1.jpg");
	align-items: center;
	justify-content: center;
}